@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

body {
  @apply font-custom;
  /* background-color: rgba(236, 240, 241, 0.5); */
}
.emu {
  height: 70vh;
}
.immm {
  z-index: -20;
}
.murgi {
  background: rgba(44, 62, 80, 0.7);
}

#nprogress .bar {
  background: #16a34a;
  height: 2px;
}
#nprogress .spinner-icon {
  width: 0;
  height: 0;
  box-sizing: border-box;

  border: none;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
